doctype html 

html 
    head 
        title Fly Away!
    body 
        h1 Hello! Welcome to Fly Away! 
        p we find secure flights to help you to travel around the world! 
        hr
        p to see the flights, pls type "http://*domain*/api/flights/*airport*" to see the local flights!